venv
*.hdf5
*.png
*.nur
*log.ipynb
test.py
simulation/debugging.ipynb
__pycache__/
images_and_traces/
albums/
old/
backup/
jobs_simulation_data/*.hdf5
jobs_simulation_data/*.nur
jobs_logs/
dagman.dag.*
*.log
*.err
*.out
*.metrics
dagman*.sub
.vscode
.ipynb*
experiments/
wandb/
*.txt